@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Sofia&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;

}
body{
    overflow: scroll;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #09097a;
}

.logo{
    width: 200px;
    height: 80px;
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

header a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color:white;
    font-size: 20px;
}

header a:hover{
    color: rgb(241, 7, 7);
    letter-spacing: 2px;
}

button{
    padding: 9px 25px;
    background-color:red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.icono{
    width: 500px;
}



section,main,footer{
    width: 100%;
    min-height: 100vh;
    top: 50px;
}
div.subtitulo{
    color: white;
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    background-color: blueviolet;
    border-radius: 10px;
    text-align: center;
/*     position:relative;
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    background-color: blueviolet;
    border-radius: 10px;
    text-align: center; */
}


.contenedor_inicio .elemento{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imagenAlbum{
    width: 50%;
    padding: 15px;
}

div.contenedorCampeones{
    width: 100%;
    height: 100%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    color: #457b9d;
    text-align: center;
}
.imgCampeones{
    opacity: 0.01;
}
.imgCampeones:hover{
    opacity: 1.0;
}
.flex {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
}

.contenedor_mangas{
    margin: 30px 0px;
}

.contenedor_mangas > div{
    padding: 5px;
    margin: 5px;
    border: 1px solid;
}

.contenedor_comics{
    top: 20vh;
    position:relative;
}

.informacionComic{
    background-color: red;
    width: 100%;
    position: static;
    z-index: 20;
    color: white;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.imagenComic{
    position: absolute;
    top: -30px;
    left: 100px;
    z-index: 40;
}

.card{
    box-shadow: 0px 5px 5px black;
    border-radius: 15px;
    margin: 50px;
    padding: 50px;
}
.card img{
    padding: 15px;
}
.card:hover{
    transform: translateY(5px);
}
.card >p{
    font-size: 20px;

}

/*Estilos contacto*/

.contenedor-contacto{
    margin: 50px auto;
    max-width: 500px;
    padding: 40px;
    background:red;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contenedor-contacto h5{
    margin: 0 0 30px;
    padding: 0;
    font-size: 20px;
    color:white;
    text-align: center;
    text-transform: uppercase;
}

.contenedor-contacto .elemento label{
    color: #fff;
}
.contenedor-contacto .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}

.contenedor-contacto .elemento input[type="submit"]{
    background-color: #09097a;
    border: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
}

.contenedor-contacto .elemento input[type="submit"]:hover{
    background-color: #242481;
    letter-spacing: 5px;
}

footer{
    background-color: #141453;
}
@media (max-width: 1500px) {
    .imagenComic{
        display: none;
    }
}